.appDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0px 1%;
  max-width: 1500px;
  justify-self: center;
}

input {
  border-radius: 15px;
  padding: 5px 0px;
}

h1 {
  text-align: center;
}

.rectangle {
  height: 20px;
  width: 200px;
}

.result-label {
  text-align: center;
}

.graphic-reference {
  display: flex;
  margin-top: 25px;
  height: 20px;
  /* aumentei um pouco pra caber o texto */
  width: 100%;
  font-size: 12px;
  /* texto menor pra caber bem */
  color: white;
  /* deixa o texto visível em cores escuras */
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 25px;
}

.rect {
  flex: 1;
  display: flex;
  /* flexbox dentro de cada retângulo */
  align-items: center;
  /* centraliza vertical */
  justify-content: center;
  /* centraliza horizontal */
  height: 100%;
}

.yellow {
  background-color: yellow;
  color: black;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
  color: black;
}

.darkorange {
  background-color: darkorange;
}

.red {
  background-color: red;
}

.darkred {
  background-color: darkred;
}

.header-graphic-reference {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.visual-interpretation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.calculator {
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.calculator.dark {
  border: 2px solid #232323;
}

.infoCalculator {
  text-align: left;
  margin: 0px 0px 30px 0px;
  font-weight: 600;
}

.results {
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: space-around;
}

.results.dark {
  border: 2px solid #232323;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.input-group label {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.bim-result {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 0px;
  margin: 0px;
  align-self: center;
  font-size: 3rem;
  transition: transform 0.2s;
}

.bim-result:hover {
  transform: scale(1.25);
}

.extra-info {
  margin-top: 50px;
  max-width: 1500px;
  justify-self: center;
}

.extra-info p {
  margin-bottom: 50px;
}

.extra-info p,
h4 {
  text-align: left;
}

.imcTextResult {
  color: yellow;
}

.buttonCalculate {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  align-self: center;
  max-width: 200px;
  font-size: 1.5em;
  border-radius: 15px;
  transition: transform 0.2s;
}

.buttonCalculate:hover {
  box-shadow: 0px 0px 20px #0291e4;
}
.buttonCalculate.dark:hover {
  box-shadow: 0px 0px 20px #005485;
}

.buttonCalculate:hover {
  transform: scale(1.15);
}

.buttonCalculate:active {
  transform: scale(0.75);
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  max-width: 100px;
  height: 40px;
  font-size: 2em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 900px) {
  .appDiv {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .header-graphic-reference {
    display: flex;
    flex-direction: column;
  }

  .graphic-reference {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: auto;
    margin: 0px 15px;
    width: 50%;
    gap: 5px;
    justify-content: space-evenly;
  }
  .rect {
    max-height: 30px;
  }

  .visual-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
