.main-content {
  padding: 15px 30px;
  transition: background 0.4s, color 0.4s;
}

.main-content.dark {
  background-color: #232323;
  color: #d3d3d3;
}

.bim-result {
  color: #d3d3d3;
}

.bim-result.dark {
  color: #232323;
}

.btn-darkMode {
  border: none;
  background: none;
  font-size: 2.5rem;
  transition: transform 0.2s;
}

.btn-darkMode:hover {
  transform: scale(1.25);
}

.btn-darkMode:active {
  transform: scale(0.75);
}

.btn-darkMode.dark {
  color: #d3d3d3;
}

.header {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
