@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}
